
// Font Families
$g-font-primary: "Helvetica Neue", Helvetica, Arial, sans-serif;
$g-font-secondary: "Open Sans", Helvetica, Arial, sans-serif;

//
// Colors
//

//
// Basic Colors

// Main Colors
$g-color-main: #3B3939;

// Primary Color
$g-color-primary: #8EBFD5;

// Custom Color
$g-color-primary-dark-v1: #C2BCB4;
$g-color-primary-dark-v2: #EDE7DE;
$g-theme-color-black-v1: #375464;
$g-theme-color-black-v2: #1c1e24;
$g-theme-color-gray-light-v1: #F2EEE8;
$g-theme-color-gray-dark-v1: #282c34;
$g-theme-color-gray-dark-v2: #252930;
